<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-container *ngIf="object$ | async as object ; else loading">
  <div style="float: right;">
    <button mat-raised-button [routerLink]="['..', 'update', object.object.objectId]" color="primary"
            style="margin-right: 10px">
      <mat-icon>edit</mat-icon>
      Modifier
    </button>
    <button mat-raised-button (click)="delete(object)" color="accent">
      <mat-icon>delete</mat-icon>
      Supprimer
    </button>
  </div>
  <h1>Objet : {{object.objectType.name}} {{object.object.suffix}}</h1>
  <br>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">

    <div fxFlex fxFlex.lt-md="100%" fxLayout="column" fxLayoutGap="20px">

      <mat-card>
        <mat-card-header>
          <mat-card-title>Changement d'état</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-quick-changestate [object]="object"></app-quick-changestate>
        </mat-card-content>
      </mat-card>

      <app-object-logs [id]="id"></app-object-logs>
    </div>

    <div fxFlex fxLayout="column" fxLayoutGap="20px" *ngIf="objectData$ | async as objectData ; else loading">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Propriétés de l'objet</mat-card-title>
        </mat-card-header>
        <mat-table mat-card-content [dataSource]="objectData" class="fullWidth">
          <ng-container matColumnDef="property">
            <mat-cell *matCellDef="let elem"><b>{{elem[0]}}</b></mat-cell>
          </ng-container>

          <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let elem">
              <mat-icon *ngIf="elem[2]" title="Propriété héritée" style="margin-right: 0.25rem">link</mat-icon>
              {{elem[1]}} </mat-cell>
          </ng-container>

          <mat-row style="height: 40px" *matRowDef="let row; columns: ['property', 'value'];"
                   [class.hover]="row[3]" [routerLink]="row[3]"></mat-row>
        </mat-table>
        <mat-card-actions>

          <button [routerLink]="['..', 'update', object.object.objectId]" mat-button color="primary">MODIFIER</button>
          <button (click)="delete(object)" mat-button color="accent">SUPPRIMER</button>
        </mat-card-actions>

      </mat-card>


      <app-object-comments [id]="id"></app-object-comments>
    </div>


  </div>
</ng-container>
